<div class="user-card">
    <div class="avatar-section">
        <img
            src="AvatarUrl"
            alt="Username + ' Avatar'"
            class="avatar.imagen">
    </div>
    <div class="user-info">
        <h1 class="user-name">{{ userName }}</h1>
        <p class="user-email">{{userEmail}}</p >
    </div>
    <div class="actions">
        <button
            class="btn-profile"
            (click)="OnviewPerfil()"
            >
        Ver perfil
        </button>
    </div>
</div>
